<!-- Let's output the three variables passed to this template -->

<h1>Vue app template.</h1>
<p>You passed this text: <b>{{ variable1 }}</b></p>
<p>You passed this number value: {{ variable2 }}</p>
<p>And you passed this array:</p>

<ul>
  {% for item in variable3 %}
    <li>
       {{ item }}
    </li>
  {% endfor %}
</ul>
